body {
	font-size: 13px;
}

img {
	width: 140px;
}
h1 {
	color: red;
	font-size: 25px;
}

.new {
	color: white;
	background: blue;
	width:100px
}

p.code span {
	color: red;
}

.code {
	margin-top: 120px;
}

.next {
	color: white;
	background: green;
}

.future {
	color: white;
	background: green;
	padding: 45px;
}

.form {
	padding-left: 70px;
}
li {
	font-size: 18px;
	border: 1px solid green;
}
